
Pillow
img2pdf
google-genai
requests

# Document & PDF Handling

pypdf
pypdfium2
pdf2image
pdfCropMargins

# Integration & API

pyrogram
tgcrypto
requests
googletrans
tahweel
internetarchive
static_ffmpeg
EbookLib
pymongo
edge-tts
langid

tgbot-ping
Flask
beautifulsoup4
requests
Werkzeug==2.3.8
gunicorn 